/* ===== MENU CHÍNH ===== */
nav {
    background: #000;
    position: relative;
    z-index: 1000;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 60px; /* chỉ canh trái */
}

.menu > li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
}

/* Hover mục lớn */
.menu > li:hover > a {
    background: #0077b6;
    color: #fff;
}

/* ===== DROPDOWN ===== */
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #000;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px;
    text-align: left;
}

/* Hiện dropdown */
.menu > li:hover .dropdown {
    display: block;
}

/* Mục con */
.dropdown li a {
    display: block;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

/* Hover mục con */
.dropdown li a:hover {
    background: #0077b6;
    color: white;
}